version: "3.8"
services:
  PostgreSQL14:
    container_name: PostgreSQL
    image: postgres:18.1-alpine3.22 # use latest official postgres version
    env_file:
      - database.env # configure postgres
    volumes:
      - ./data:/var/lib/postgresql/data/ # persist data even if container shuts downvolumes:
    ports:
      - 5432:5432
