name: arangodb
services:
  arangodb_db_container:
    container_name: arangodb
    image: arangodb:3.12.7.1
    environment:
      ARANGO_ROOT_PASSWORD: 1
    ports:
      - 8529:8529
    volumes:
      - ./data/arangodb_data_container:/var/lib/arangodb3
      - ./data/arangodb_apps_data_container:/var/lib/arangodb3-apps
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "127.0.0.1:8529"]
      interval: 1m
      timeout: 1s
      retries: 3
