version: "3.8"
services:
  wordpress:
    image: wordpress:6.9.1-php8.2-fpm-alpine
    links:
      - mariadb:mysql
    environment:
      - WORDPRESS_DB_PASSWORD=password
      - WORDPRESS_DB_USER=root
    ports:
      - 80:80
    volumes:
      - ./html:/var/www/html
  mariadb:
    image: mariadb
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=wordpress
    volumes:
      - ./database:/var/lib/mysql
