services:
  jellyfin:
    image: jellyfin/jellyfin:10.11.6
    container_name: jellyfin
    user: 1000:1000
    environment:
      - TZ=Europe/Berlin
    volumes:
      - ./config:/config
      - ./cache:/cache
      - /path/to/media:/media
    ports:
      - 8096:8096
    restart: unless-stopped
