name: firefox
services:
  firefox:
    container_name: firefox
    image: linuxserver/firefox:1146.0.1
    security_opt:
      - seccomp:unconfined
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - FIREFOX_CLI="https://google.com"
      - CUSTOM_USER=usr
      - PASSWORD=usr@pass
    ports:
      - 3000:3000
      - 3001:3001
    shm_size: "1gb"
    volumes:
      - ./data/config:/config
