version: "3.8"

services:
  uptime-kuma:
    image: louislam/uptime-kuma:1.23.17
    restart: unless-stopped
    volumes:
      - ./data:/app/data
    ports:
      # <Host Port>:<Container Port>
      - "3001:3001"
